.galery {
    width: 640px;
    height: 440px;
    display: block;
    border-radius: 5px;
    box-shadow: 10px 10px 10px #333333;
    background-color: lightyellow;
    padding:20px;
}

ul {
    margin: 0px;
    padding: 0px;
    height:100%;
    list-style-type: none;
    display: block; /*было flex*/
    align-items: flex-start;
    overflow-y: auto;
    text-align: left;
    line-height: 0;
    user-select: none;
}

li {
    display: inline-block;
    max-width: 150px;
    max-height: 150px;
    margin: 2px;
    text-align: center;
}