.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

header {
  background-color: #282c34;
  min-height: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes showMain {
  from {
    transform: translate(0,350px);
  }

  35% {
    transform: translate(400px,125px) scale(.3) ;
  }

  65% {
    transform: translate(300px,-50px) scale(.6) ;
  }

  to {
    transform: translate(0,0);
  }
}

@keyframes showScale {
  from {
      transform: scale(.1);
  }

  to {
      transform: scale(1);
  }
}

@keyframes showSlide {
  from {
      transform: translate(-300px,0);
  }

  to {
      transform: translate(0,0);
  }
}

.main {
  margin: 0 auto;
  width: 700px;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  animation: showMain 1 .7s linear;
}

nav {
  left: 10px;
  position: relative;
  display: block;
  text-align: left;
  width: 100%;

  color:white;
  font-size: 22px;
  margin-bottom: 5px;
  user-select: none;
}

.arrow {
  cursor: pointer;
  margin-right: 10px;
}